.row{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #0856C0, #8CB9F7);
}

#titulos{
    font-size:x-large;
    color: #000080;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bolder;
}

li::marker{
    color: #000080;
}

h4,h6,h1{
    display: inline;
    font-family: Calibri;
}

h5{
    font-family: Calibri;
}

button{
    margin-left: 5px;
    float:right;
    margin-top:5px;
}

#campos{
    margin-bottom: 5px;
    margin-top:5px;
    
}

#editareliminar{
    margin-bottom: 5px;
}

::placeholder {
    font-style: italic;
}

li{
    font-family: Segoe UI Symbol;
}
