<div class="row">
    <div class="col-md-6">
        <h2 id="titulos">Formacion</h2>
    </div>

    <div>
        <ul id="listas">
            <li><h4>Nombre de la institucion</h4> <h1>Estado </h1> <h6>Periodo </h6> <h1> Titulo</h1></li> <br>
            <p></p>
            
        </ul>
    </div>

    <div>
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre</label>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect2">Estado</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option value="finalizado">Finalizado</option>
                <option value="cursando">En curso</option>
                <option value="abandonado">Abandonado</option>
              </select>
                
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Periodo</label>
              <input type="date" class="btn btn-primary"> hasta <input type="date" class="btn btn-primary">
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Título</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>

          </form>
          
        </div>
    
</div>

