<div class="row" *ngIf="mostrarContenido">
    <div class="col">
        <img src="../../../assets/perfil.jpeg" alt="Foto de perfil" class="img-fluid" style="margin-left: 110px;">
        <p id="name">Giuliana Paz | Full Stack Developer Jr</p> <hr style="color:white">
        <p id="title"></p>
    </div>

    <div class="col">
        <h1 id="acerca">Acerca de mi</h1>
        <p id="descripcion">Soy estudiante de programación, empecé aprendiendo Javascript de manera independiente. Fue un gran desafío iniciar en Argentina Programa, donde adquirí muchos conocimientos sobre FrontEnd y BackEnd. 
            Mi objetivo es seguir expandiendo mis habilidades, aprendiendo todo lo necesario para poder proporcionar un buen desempeño y poder desenvolverme en ambas áreas de desarrollo de manera dinámica, aplicando mi creatividad e iniciativa. Me gusta crear, investigar y trabajar en equipo.
            </p>
    </div>
</div>
