.row{
    padding: 25px;
    border-color:beige;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

img{
    padding: 10px;
    height: 220px;
    width: 180px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    box-shadow: 4px 4px 6px;
}

#name{
    font-family: Geneva;
    font-size: 30px;
    text-shadow: 2px 2px 4px grey;
    margin-top: 20px;
}

#title{
    font-family: Century gothic;
    text-align: left;
}

#acerca{
    font-size: 30px;
    font-family: geneva;
    text-shadow: 2px 2px 4px grey;
}

#descripcion{
    font-family: Century gothic;
    margin-left: 50px;
}




