<div class="row">
    <div class="col-md-6">
        <h2 id="titulos">Experiencia Laboral</h2>
    </div>

    <div>
        <ul id="listas">
            <li><h4>1</h4> - <h6>(years)</h6> </li><br>
            <p></p>
            <li><h4>2</h4> - <h6>(years)</h6> </li><br>
            <p></p>
            <li><h4>3</h4> - <h6>(years)</h6> </li>
            <p></p>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2 id="titulos">Formacion</h2>
    </div>

    <div>
        <ul id="listas">
            <li><h4>A</h4> - <h6>(years)</h6></li> <br>
            <p></p>
            <li><h4>B</h4> - <h6>(years)</h6></li> <br>
            <p></p>
            <li><h4>C</h4>- <h6>(years)</h6></li>
            <p></p>
        </ul>
    </div>
</div>

