.row{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
        background: linear-gradient(to left, #38bd96, #D1F2EB);
}

#titulos{
    font-size:x-large;
    color: #38bd96;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bolder;
}


li::marker{
    color: #38bd96;
}

h4,h6{
    display: inline;
    font-family: Calibri;
}

h5{
    font-family: Calibri;
}

button{
    margin-left: 5px;
    float:right;
    margin-top: 5px;
}

#campos{
    margin-bottom: 5px;
    
}

#editareliminar{
    margin-bottom: 10px;
}

::placeholder {
    font-style: italic;
}