<div class="row">
    <div class="col-md-6">
        <h2 id="titulos">Experiencia Laboral</h2>
    </div>

    <div>
        <ul id="listas">
            <li><h4>Empresa</h4> Puesto <h6> Periodo </h6> <h4>Descripcion</h4> </li><br>
            <p></p>
        </ul>
    </div>

    <div>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Empresa</label>
          <input type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Puesto</label>
          <input type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Periodo</label><br>
          <input type="date" class="btn btn-primary"> hasta <input type="date" class="btn btn-primary">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Descripcion</label>
          <input type="text" class="form-control" id="exampleFormControlInput1">
        </div>
      </form>
    </div>
</div>
