#datos {
    font:bold;
    font-size:medium;
    font-style: italic;
    text-shadow: 1cap;
    color: blueviolet;
    margin-left: 50px;
    width:600px;
    min-height:300px;
    border-color:darksalmon;
    border-width: 5px;
}

#links {
    background-color:black;
    font-size:larger;
    padding-bottom: 20px;
    font-size: 30px;
    align-content: center;
    margin-top: 20px;
    padding-top: 20px;

}

#barra2{
    background-color: crimson;
    font-style: italic;
    margin-top: 500px;

}

#cuadro{
    border-spacing: 25pt;
    padding: 20px;
    width:300px;
    min-height:400px;
    background: pink;
    float:right;
}

#botonlogin{
    border: 3px solid #b68d2c;
    background-color: black;
    color:white;
    font-size: 20px;
    font-family: candara;
   
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 11px;
    border-width: 5px;
    border-top: 10%;
}

#login{
    background-color: grey;
    width: 100px;
    height: 25px;
    margin-right: 10px;
    font-size: 10px;
    font-family: lucida console;
    
}

#lineas{
    color: #b68d2c;
}

#fondo {
    background-color:lightpink;
}

footer{
    background-color: lightpink;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#contacto{
    font-family: Century gothic;
}