<html id="fondo">

<header id="fondo">

<app-header></app-header>

</header>


    <body id="fondo">
        <div *ngIf = "contenido == true">
            <app-acercademi></app-acercademi>
            <app-experiencia></app-experiencia>
            <app-educacion></app-educacion>
            <app-proyectos></app-proyectos>
            <app-tecnologias></app-tecnologias>
            <app-skills></app-skills>
        </div>

    </body>

<footer id="fondo">
    <div id="contacto">
        <i>Contacto: giuliana_gp_35@hotmail.com</i>
    </div>
</footer> 

</html>

