h4, h6{
    display: inline;
}

.row{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #FC3232, #FC9A9A);
    
}

#barras{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#titulo{
    font-size:x-large;
    color: #FC3232;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bolder;
}
