h4, h6{
    display: inline;
}

.row{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #38bd96, white);
}

#barras{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#titulo{
font-size:larger;
color:black;
text-shadow: greenyellow 2px 2px;
}