<div class="row">
    <div class="col-md-4">
        <h2 id="titulo">Hard & Soft Skills</h2>
    </div>

    <div class="col-md-3" id="barras" *ngIf="mostrarContenido">
          <h6>Compromiso</h6> 
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Aprendizaje constante e independiente</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Habilidades comunicativas</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Actitud positiva frente a objetivos y desafíos</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Empatía</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 85%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>

    <div class="col-md-3" id="barras" *ngIf="mostrarContenido">
          <h6>Manejo de idioma inglés</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Habilidades en escritura y expresión verbal</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Contabilidad</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Lenguajes de programación</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h6>Conocimientos de software</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
</div>