h4,h5,h6, button{
    display: inline;
}


.row{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #FF8000, white);
}


#titulos{
    font-size:larger;
    color:black;
    text-shadow:orange 2px 2px;
}

#listas{
    list-style-type:square;
}

li::marker{
    color: blueviolet;
}


#campos{
    margin-bottom: 5px;
}

#editareliminar{
    float: right;
    margin-right: 5px;
}

::placeholder {
    font-style: italic;
}

li{
    font-family: Segoe UI Symbol;
    margin-bottom: 30px;
    margin-top: 15px;

}
