img{
    width: 40px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

#bl{
    border-color:palevioletred;
    background-color:rebeccapurple;
    font-size: 15px;
    font-family: Arial;
    border-radius: 11px;
    border-width: 5px;
    margin-top: 3px;
    font-weight: bold;
    margin-right: 10px;
}

button{
    margin-top: 5px;
    margin-right: 5px;
}

#linkredes{
        float:right;
        margin-top: 15px;
        height: 4px;
}

#form{
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}

#login{
    margin-right: 5px;
}

#salir{
    margin-left: 15px;
    margin-right: 7px;
}